#statusBar{
    width: 904px;
    height: 70px;
    background: black;
    color: red;
    text-align: center;
    font-size: 25px;
}

.statusItems{
    margin: 40px;
}

#main {
    display: grid;
    grid-template-columns: repeat(90, auto);
    grid-template-rows: repeat(90, auto);
    border: 3px black solid;
    width: 900px;
    height: 850px;
    background-image: url("background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }

.boxItem {
    display: inline-block;
    padding: 0;
    margin: 0;
   /* border: 1px solid grey; */
    box-sizing: border-box;
    background-color: black;
    border-radius: 5%;
    opacity: 1;
    }

.player {
   position: relative;
    
}

.player:before{
    width: 360%;
    height: 360%;
    content: " ";
    position: absolute;
    background-image: url("knight.jpg");
    background-position: center;
    background-size: 130%;
    overflow: visible;
    top: -11px;
    left: -11px;
}

.playerArea {
    background-color: rgb(9, 107, 74);
}

.enemy {
    position: relative;
}

.skeleton, .ghost, .bat, .ninja .dragon {
    position: relative;
}

.skeleton:before, .ghost:before, .bat:before, .ninja:before, .dragon:before {
    width: 360%;
    height: 360%;
    content: " ";
    position: absolute;
    background-image: url("skeleton.jpg");
    background-position: center;
    background-size: 130%;
    overflow: visible;
    top: -10px;
    left: -10px;
}

.ghost:before {
   background-image: url("ghost.jpg");
}

.bat:before {
    background-image: url("bat.png");
 }

 .ninja:before{
    background-image: url("ninja.png");
 }

 .dragon:before{
    background-image: url("dragon.png");
    width: 600%;
    height: 600%;
    top:-20px ;
    left: -20px;    
    
 }

.enemyArea{
  
}